.searchModalWrapper{
    position: absolute;
    top: .5%;
    left: 25.9%;
    border: 1px solid rgb(168, 165, 165);
    height: 388px;
    width: 925px;
    background-color: white;
    border-radius: 9px;
}

.closeIcon{
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 1vw;
    cursor: pointer;
}
.searchIcon{
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: .8vw;
    color: rgb(78, 77, 77);
    cursor: pointer;
}

.searchInput{
    width: 88%;
    height: 4vh;
    font-size: .8vw;
    border: none;
    color: black;
}

#div{
    border-bottom: 1px solid rgb(168, 165, 165);
    height: 4.4vh;
}

.formWrapper{
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.loginForm{
    height: 350px;
    width: 350px;
    border: 1px solid rgb(168, 165, 165);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

#submitForm{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.conversationAreaWrapper{
position: absolute;
overflow: hidden;
}
.convoInsideWrapper{
    position: relative;
    overflow: scroll;

}
