.App {
  text-align: center;
  display: grid;
  grid-template-rows: 3.9vh 96.1vh;
  grid-template-columns: 13.6vw 86.4vw;
  grid-template-areas: "app-header app-header" "aside messages";
}

.App-header {
  background-color: #282c34;
  min-height: 3.9vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 29.5% 38.2% 10%;
  align-items: center;
  grid-template-areas: "leftSideBar searchbar rightSideBar";
  font-size: calc(10px + 2vmin);
  color: white;
  grid-area: app-header;
}

.aside{
  background-color: #2d3038;
  height: 96.1vh;
  grid-area: aside;
}

#messages{
  grid-area: messages;
}

.search{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  min-width: 725px;
  max-width: 725px;
  padding: 0 3px;
  border-radius: 4px;
  background-color: #41454d;
  opacity: 1;
  cursor: pointer;
  grid-area: searchbar;
}

#FaSearch{
  height: 12.5px;
}

.top_nav__Leftsidebar{
  padding-right: 20px;
  min-width: 28px;
  height: 22px;
  justify-self: end;
  grid-area: leftSideBar;
}

.top_nav__Rightsidebar{
  justify-self: start;
  padding-left: 16px;
  padding-right: 20px;
  min-width: 20px;
  height: 20px;
  grid-area: rightSideBar;
}

.workspaceWrapper{
  min-height: 5vh;
  color: white;
  display: grid;
  grid-template-columns: 11vw 2vw;
  align-items: center;
  border-top: .5px solid #484950;
  border-bottom: .5px solid #484950;
}

.pencilIcon{
  font-size: 3vh;
}

.workspaceName{
  text-align: left;
  padding-left: 20px;
  font-size: 2.2vh;
}

#logoutButton{
  position: absolute;
  width: 13.6%;
  bottom: 0%;
}